# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (optional, if you don't want to upload datasets)
data/
*.csv

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/